<div class="login-page">

    <div class="overlay"></div>

    <div class="login-card">

        <div class="logo">

            <i class="bi bi-graph-up-arrow"></i>

            <h2>LeadFlow CRM</h2>

            <p>Sales & Customer Management</p>

        </div>

        <form (ngSubmit)="login()">

            <div class="form-group">

                <label>Username</label>

                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="username"
                    name="username">

            </div>

            <div class="form-group mt-3">

                <label>Password</label>

                <input
                    type="password"
                    class="form-control"
                    [(ngModel)]="password"
                    name="password">

            </div>

            <div
                class="alert alert-danger mt-3"
                *ngIf="errorMessage">

                {{errorMessage}}

            </div>

            <button
                class="btn btn-primary w-100 mt-4">

                <span *ngIf="!loading">

                    Login

                </span>

                <span *ngIf="loading">

                    Logging In...

                </span>

            </button>

        </form>

    </div>

</div>